<header class="header">

    <slot name="header-content">


    </slot>

</header>

<main class="main">

    <section class="main__section main__section--hero">

        <div class="hero__left-content">

            <slot name="hero-left-content">

            </slot>

        </div>
        <div class="hero__right-content">

            <slot name="hero-right-content">

            </slot>

        </div>

    </section>

    <section class="main__section main__section--benefit">

        <slot name="benefit">


        </slot>

    </section>

    <section class="main__section main__section--testimonial">

        <slot name="testimonial">


        </slot>

    </section>

    <section class="main__section main__section--cta">

        <slot name="cta">



        </slot>

    </section>


</main>

<footer class="footer">

    <slot name="footer">



    </slot>

</footer>