<header class="header">

    <slot name="header-content">

        <nav class="nav">

        </nav>

    </slot>

</header>

<main class="main">

    <section class="hero">

        <div class="hero__left-content">

            <slot name="hero-left-content">

            </slot>

        </div>
        <div class="hero__right-content">

            <slot name="hero-right-content">

                <img class="hero__img" src="#" alt="">

            </slot>

        </div>

    </section>

</main>

<article>

    <slot name="hero"></slot>
    <slot name="benefits"></slot>
    <slot name="testimonials"></slot>
    <slot name="cta"></slot>

</article>