/*  */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;

  background-color: var(--color-background-1);
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;

  width: 100%;
  height: auto;

  padding: 24px 0;

  color: var(--color-text-n);
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 24px; */

  width: 100%;
  height: auto;
}

/* MAIN-SECTION */

.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: auto;

  /* outline: red dotted 1px; */
}

/* HERO */

.main__section--hero {
  height: calc(100vh - 88px);
}

/* BENEFITS */

.main__section--benefit {
  background-color: var(--color-background-2);
}

.main__section--testimonials {
}

/* CTA */

.main__section--cta {
  background-color: var(--color-main-2);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: auto;

  /* padding: 64px 16px; */

  background-color: var(--color-main-1);
}
