<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <landing-layout>
        
        <section slot="header">
            <h1>header</h1>
        </section>

        <section slot="hero">
            <h3>this is the hero side</h3>
        </section>
        
        <section slot="benefits">
            
            <div>
                <plain-card></plain-card>
                <span>asdasd</span>
            </div>

            <div>
                <plain-card></plain-card>
                <span>asdasd</span>
            </div>

        </section>
        
        <section slot="testimonials">
            <h3>testimonials</h3>
            <fancy-caroucel>
                <plain-card></plain-card>
                <plain-card></plain-card>
                <plain-card></plain-card>
                <plain-card></plain-card>
                <plain-card></plain-card>
            </fancy-caroucel>
        </section>
        
        <section slot="cta">
            <h3>Call To Action</h3>
            <form>
                
            </form>
        </section>

    </landing-layout>



</body>
</html>