<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Web Component</title>
</head>

<body>

    <landing-page>

        <style>
            :root {
                --var1: #333;
            }
        </style>

        <landing-header>

        </landing-header>
        <landing-hero>

        </landing-hero>
        <landing-features>

        </landing-features>
        <landing-testimonials>

        </landing-testimonials>
        <landing-cta>

        </landing-cta>
        <landing-footer>

        </landing-footer>

    </landing-page>

</body>

</html>