* {
  --feature-background-color: hsl(var(--theme-tone), 100%, 97.5%);
  --feature-title-font-color: var(--background-color-1);
  --feature-subtitle-font-color: var(--background-color-4);
}

.landing-features *,
.landing-features {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:host {
  width: 100%;
  display: block;
}

/*  */

.landing-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  padding: 6rem 8rem;
  background-color: hsl(var(--theme-tone), 40%, 96%);
}

.landing-features__title-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;

  gap: 1rem;

  text-align: center;
}

.landing-features__title {
  font-size: 2rem;
  color: var(--feature-title-font-color);
  line-height: 1;
}

.landing-features__subtitle {
  color: var(--feature-subtitle-font-color);
  line-height: 1.5;
}

/*  */

.landing-features__feature-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  justify-content: space-between;
  gap: 0.8rem;

  width: 100%;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  .landing-features {
    padding: 4rem 6rem;
  }
  .landing-features__feature-container {
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .landing-features__title-box {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .landing-features__feature-container {
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 2.8rem;
  }

  .landing-features__title-box {
    width: 100%;

    gap: 1rem;

    text-align: center;
  }

  .landing-features__title {
    font-size: 2rem;
    line-height: 1.2;
  }

  .landing-features__subtitle {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 576px) {
  .landing-features {
    padding: 4rem 2rem;
  }

  .landing-features__title {
    font-size: 1.8rem;
    /* line-height: 1.2; */
  }
}

@media screen and (max-width: 357px) {
  .landing-features {
    padding: 2rem 2rem;
  }
}
