@font-face {
    font-family: 'amazon-ember';
    src: url('../../global-assets/amazon-ember/Amazon-ember.ttf');
}
:root{
    /* Amazon pallete */
    --amz-blck-1:#16191F;
    --amz-blck-2:#232F3E;
    --amz-gray-1 :#545B64;
    --amz-gray-2 :#687078;

    --amz-blue-1 :#306DA3;
    --amz-blue-2 :#0073BB;
    --amz-turq-1 :#44B9C6;

    --amz-orang-1:#EC7211;

    /* Tonos grises */
    --black-1:#252525;
    --black-2:#323437;
    --black-3:#474b4e;
    
    /* Tonos claros */
    --white-1:#e2e7ed;
    --white-2:#c4c7cc;
    --white-3:#95989d;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.space-around {
    justify-content: space-around;
}
.space-evenly {
    justify-content: space-evenly;
}
.space-between {
    justify-content: space-between;
}
.justify-center{
    justify-content: center
}
.align-center{
    align-items: center;
}
.grid {
    display: grid;
}
.hidden {
    display: none;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'amazon-ember';
}

html, body{
    width: 100%;
    height: 100%;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    background-color: var(--amz-gray-2);
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
   
}
.container{
    min-width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: monospace;
    color: #232323;

    padding: 12px;
    border-radius: 4px;

    
    background-color: #d5d5d5;
    box-shadow: 0 0px 20px 4px rgba(0, 0, 0, 0.334);
}

.t1{
    width: 100%;
    padding: 4px;
    margin-bottom: 12px;
    border-radius: 4px;

    font-size: 24px;
    color: #d5d5d5;
    text-align: center;

    background-color: var(--amz-blck-1);
}
.sub-text{
    font-size: 12px;
    color: var(--amz-turq-1);
}

.dft-btn{
    background-color: #e2e2e9;
    width: 100%;
    height: 40px;

    border: 1px solid #232323;
    border-radius: 4px;
    color: #232323;

    font-family: monospace;
    text-transform: uppercase;

    cursor: pointer;
}
.dft-btn:hover{
    background-color: var(--amz-blue-2);
}
.dft-btn:active{
    transform: scale(0.95);
    filter: brightness(0.85);
}
flip-card{
    width: 100%;
}
accordion-tab{
    width: 100%;
}



