* {
  box-sizing: border-box;
  --scale: 1;

  /* General */

  --flip-card-padding-value: var(--padding-value);
  --flip-card-border-radius-value: var(--border-radius-value);
  --flip-card-border-value:solid var(--border-value) var(--border-color-2);

  /* Front */

  --front-background-color: var(--background-color-4);
  --front-text-color: var(--text-color-emphasis-mid);

  /* Back */

  --back-background-color: var(--background-color-3);
  --back-text-color: var(--main-color-4);
}

.flip-card-box {
  width: 100%;
  height: 100%;
  min-width: 10rem;
  min-height: 6rem;
  perspective: 60rem;
}

.active {
  transform: rotateY(180deg) scale(var(--scale));
}

.flip-card {
  width: 100%;
  height: 100%;

  transition: all 1s ease-in-out;

  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  overflow: hidden;

  padding: var(--flip-card-padding-value);
  border-radius: var(--flip-card-border-radius-value);

  border: var(--flip-card-border-value);
  background-color: var(--front-background-color);
  color: var(--front-text-color);
}

.back {
  transform: rotateY(180deg);
  background-color: var(--back-background-color);
  color: var(--back-text-color);
}

.back-content,
.front-content {
  padding: 12px;
}

/* Aplica el estilo a la etiqueta personalizada por fuera */
:host {
  display: block;
}
