
            <style>
                .tab-group {
                    margin: 0 auto;
                    max-width: 40em;
                    width: 100%
                }

                .tab {
                    position: relative;
                    width: 100%;
                }

                .tab input {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -999;
                }

                .tab label {
                    background: #72d2c6;
                    color: #fff;
                    display: block;
                    font-weight: bold;
                    line-height: 3;
                    padding-left: .5em;
                    margin-bottom: .5em;
                    transition: letter-spacing .55s;
                }

                .tab input:focus + label,
                .tab label:hover {
                    background: #85d8ce;
                    letter-spacing: 1px;
                }

                .tab-content {
                    max-height: 0;
                    overflow: hidden;
                    transition: all .35s;
                }

                .tab-content p {
                    margin: 1em 0;
                }

                .tab input:checked ~ .tab-content {
                    max-height: 10em;
                }

            </style>
         

                <div class="tab-group">
                    <div class="tab" >
                        <input id="tab-one" type="radio" name="tabs">
                        <label for="tab-one">one</label>
                        <div class="tab-content" slot="content" >
                            <p>any</p>
                        </div>
                    </div>
                    
                </div>
        
            
        

