<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing-layout-template</title>

    <link rel="stylesheet" href="landing-site.css">

</head>

<body>

    <header class="header">

        <nav class="nav">

            <div class="nav__logo">

                <img src="./assets/logo.png" alt="Logo" class="nav__logo-img">

            </div>

            <ul class="nav__link-container">

                <li class="nav__link-box"><a href="#" class="nav__link">About us</a></li>
                <li class="nav__link-box"><a href="#" class="nav__link">Services</a></li>
                <li class="nav__link-box"><a href="#" class="nav__link nav__link--cta">Subscribe</a></li>

            </ul>

        </nav>

    </header>


</body>

</html>