.super-container {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.header-container {
  height: 5%;
  padding: 8px;

  color: var(--text-tone);
  border-bottom: 1px solid var(--second-tone);
  background-color: var(--back-tone);

  display: flex;
  align-items: center;
  justify-content: center;
}

.top-container {
  height: 5%;

  display: flex;
}

.left-header {
  width: 25%;
  height: 100%;
  padding: 8px;

  color: var(--text-tone);
  border-right: 1px solid var(--second-tone);
  background-color: var(--back-tone);

  display: flex;
  align-items: center;
}

.top-menu {
  width: 75%;
  height: 100%;
  padding: 8px;

  overflow: hidden;
  overflow-x: auto;
  padding: 8px;

  color: var(--main-tone);
  background-color: var(--back-tone);

  display: flex;
  align-items: center;
  /* scroll */
}

.main-container {
  height: 90%;

  display: flex;
}

.right-container {
  width: 75%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.display-container {
  height: 95%;
  padding: 24px;

  overflow-y: auto;

  color: var(--back-tone);
  background-color: var(--third-tone);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.footer {
  height: 5%;
  padding: 8px;

  color: var(--main-tone);
  background-color: var(--back-tone);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-menu {
  width: 25%;
  height: 100%;
  padding: 8px;

  color: var(--text-tone);
  background-color: var(--second-tone);

  display: flex;
  flex-direction: column;
}

.main-content {
  background-color: var(--white-1);
}

/* 


  
/* SCROLL */

.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  cursor: pointer;
}

.scroll::-webkit-scrollbar:vertical {
  width: 10px;
}

.scroll::-webkit-scrollbar-button:increment,
.scroll::-webkit-scrollbar-button {
  display: none;
}

.scroll::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 0px;
  border-width: 3px 0;

  border: 3px solid var(--back-tone);
  background-color: var(--second-tone);
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}
