<article class="super-container flex-column">
  <header class="header-container flex-row align-items-center justify-content-center">
    <slot name="header">HEADER</slot>
  </header>
  <section class="top-container flex-row">
    <div class="left-header flex-row align-items-center">
      <slot name="left-header">LEFT</slot>
    </div>
    <div class="top-menu flex-row align-items-center scroll">
      <slot name="top-menu">LINKS</slot>
    </div>
  </section>
  <section class="main-container flex-row">
    <div class="left-menu flex-column">
      <div class="left-content">
        <slot name="left-content">LEFT-CONTENT</slot>
      </div>
    </div>
    <div class="right-container flex-column">
      <div class="display-container flex-column justify-content-start align-items-center">
        <slot name="main-content">MAIN</slot>
      </div>
      <footer class="footer flex-row align-items-center">
        <slot name="footer">FOOTER</slot>
      </footer>
    </div>
  </section>
</article>