



<data-graph>
    <data-point id="medellin">
        <data-rel to="node-1-1" data-distance="" ></d price="" time=""ata-rel>
        <data-rel from="node-2" ></data-rel>
    </data-point>
    <data-point id="chicago" from="#node-1" to="node-1-1-1"></data-point>
    <data-point id="cartagena"></data-point>
    <data-point id="node-1"></data-point>
</data-graph>



<data-graph id="cities" context="air tickets">

    <data-point name="medellin">
        <data-rel distance="xx" price="" time="" to="[name='chicago']"></data-rel>
        <data-rel distance="xx" price="" time="" to="[name='cartagena']"></data-rel>
        <data-rel distance="xx" price="" time="" to="[name=' miami']"></data-rel>
    </data-point>

    <data-point name="chicago">
        <data-rel distance="xx" price="" time="" to="[name='medellin']"></data-rel>
        <data-rel distance="xx" price="" time="" to="[name='cartagena']"></data-rel>
        <data-rel distance="xx" price="" time="" to="[name=' miami']"></data-rel>
    </data-point>

    <data-point name="cartagena">
        <data-rel distance="xx" price="" time="" to="[name='chicago']"></data-rel>
        <data-rel distance="xx" price="" time="" to="[name='medellin']"></data-rel>
        <data-rel distance="xx" price="" time="" to="[name=' miami']"></data-rel>
    </data-point>

    <data-point name="miami">
        <data-rel distance="xx" price="" time="" to="[name='chicago']"></data-rel>
        <data-rel distance="xx" price="" time="" to="[name='cartagena']"></data-rel>
        <data-rel distance="xx" price="" time="" to="[name=' medellin']"></data-rel>
    </data-point>

</data-graph>