.super-container * {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.super-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: var(--bg-0);
}

.header {
  width: 100%;
  height: auto;

  padding: 16px 24px;

  background-color: var(--bg-0);
}

.main {
  width: 100%;
  height: 100%;
  flex: 1 1;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px;
  padding-bottom: 96px;

  overflow-x: auto;

  background-color: var(--bg-1);
  color: var(--tx-2);
}

.nav-menu {
  width: 100%;
  height: 80px;

  position: fixed;
  left: 0;
  bottom: 0;

  padding: 16px 24px;

  background-color: var(--bg-0);
}

/** Template */

.nav-menu .btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  width: 100%;
  height: 100%;
}

.btn-container button {
  width: 48px;
  height: 100%;

  border: none;
  border-radius: 8px;

  font-size: 18px;

  color: var(--mc-3);
  background-color: var(--bg-1);
}

/* d */

.menu-container {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-container h1 {
  font-size: 20px;
  color: var(--mc-2);
}

.menu-container button {
  font-size: 18px;
  background-color: transparent;
  border: none;
}
