<main class="super-container">
    <header class="header">

        <slot name="header">

            <div class="menu-container">

                <button>◀️</button>
                <h1>View Title</h1>
                <button>⚙️</button>

            </div>

        </slot>

    </header>
    <section class="main">

        <slot name="main">

            <h1>Main content</h1>

        </slot>

    </section>
    <section class="nav-menu">

        <slot name="nav-menu">

            <div class="btn-container">

                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>4</button>

            </div>

        </slot>

    </section>
</main>