:root {
  /*$ DARK THEME COLORS */
  /* Tone of the theme */
  --theme-tone: 215;

  /* Background Colors */
  --background-color-1: hsl(var(--theme-tone), 5%, 12%);
  --background-color-2: hsl(var(--theme-tone), 5%, 16%);
  --background-color-3: hsl(var(--theme-tone), 5%, 22%);
  --background-color-4: hsl(var(--theme-tone), 5%, 30%);
  --background-color-5: hsl(var(--theme-tone), 5%, 38%);

  /* Main Colors */
  --main-color: hsl(var(--theme-tone), 50%, 50%); /*$ Color principal neutro */

  --main-color-1: hsl(var(--theme-tone), 45%, 20%);
  --main-color-2: hsl(var(--theme-tone), 45%, 40%);
  --main-color-3: hsl(var(--theme-tone), 50%, 50%);
  --main-color-4: hsl(var(--theme-tone), 60%, 60%);
  --main-color-5: hsl(var(--theme-tone), 60%, 80%);
  --main-color-6: hsl(var(--theme-tone), 70%, 90%);

  /* [] Discutir un buen nombre para el color invertido */
  --main-color-inverted: hsl(calc(var(--theme-tone) + 180), 50%, 60%);

  /* Text Colors */
  --text-color-emphasis-high: hsla(0, 0%, 100%, 1);
  --text-color-emphasis-mid: hsla(0, 0%, 100%, 0.7);
  --text-color-emphasis-low: hsla(0, 0%, 100%, 0.4);
  /* [] Discutir un buen nombre para el color invertido */
  --text-color-inverted: hsla(0, 0%, 23%, 1);

  /* Gradients */
  --gradient-1: linear-gradient(0deg, var(--bg-4) 0%, var(--bg-5) 100%);

  /* Border Colors (Example) */
  --border-color-1: hsl(var(--theme-tone), 5%, 30%);
  --border-color-2: hsl(var(--theme-tone), 5%, 45%);
  --border-color-3: hsl(var(--theme-tone), 5%, 60%);

  /* $ Valores en medidas */
  --root-font-size: 16px;
  --border-value: 1px;
  --padding-value: 0.8rem;
  --margin-value: 0.4rem;
  --gap-value: 0.4rem;
  --border-radius-value: 0.6rem;

  /** Antiguos tokens (Temporal) */

  /* DARK-THEME */

  --bg-0: hsl(220, 5%, 12%);
  --bg-1: hsl(220, 5%, 20%);
  --bg-2: hsl(220, 5%, 28%);
  --bg-3: hsl(220, 5%, 36%);
  --bg-4: hsl(220, 5%, 44%);

  --mc-0: hsl(160, 70%, 20%);
  --mc-1: hsl(160, 60%, 40%);
  --mc-2: hsl(160, 60%, 60%);
  --mc-3: hsl(160, 40%, 70%);
  --mc-4: hsl(160, 40%, 80%);

  --tx-1: hsl(0, 0%, 90%);
  --tx-2: hsl(0, 0%, 80%);
  --tx-3: hsl(0, 0%, 70%);

  --gr-1: linear-gradient(0deg, var(--bg-3) 0%, var(--bg-4) 100%);
}
a {
  color: var(--bg-0);
}
