:root {
  /* DARK-THEME */
  --bg-0: hsl(250, 0%, 10%);
  --bg-1: hsl(250, 0%, 14%);
  --bg-2: hsl(250, 0%, 18%);
  --bg-3: hsl(250, 0%, 22%);
  --bg-4: hsl(250, 0%, 26%);

  --mc-1: hsl(150, 40%, 52%);
  --mc-2: hsl(150, 40%, 64%);
  --mc-3: hsl(150, 40%, 84%);
  --mc-4: hsl(150, 40%, 90%);

  --tx-1: hsl(250, 0%, 90%);
  --tx-2: hsl(250, 0%, 80%);
  --tx-2: hsl(250, 0%, 70%);

  --gr-1: linear-gradient(0deg, var(--bg-3) 0%, var(--bg-4) 100%);
}
