:root {
  /* DARK-THEME */
  --bg-0: hsl(0, 0%, 10%);
  --bg-1: hsl(0, 0%, 14%);
  --bg-2: hsl(0, 0%, 18%);
  --bg-3: hsl(0, 0%, 22%);
  --bg-4: hsl(0, 0%, 32%);

<<<<<<< HEAD
  --mc-0: hsl(370, 70%, 20%);
  --mc-1: hsl(370, 70%, 40%);
  --mc-2: hsl(370, 70%, 60%);
  --mc-3: hsl(370, 60%, 70%);
  --mc-4: hsl(370, 60%, 80%);
  
=======
  --mc-0: hsl(160, 70%, 20%);
  --mc-1: hsl(160, 60%, 40%);
  --mc-2: hsl(160, 60%, 60%);
  --mc-3: hsl(160, 40%, 70%);
  --mc-4: hsl(160, 40%, 80%);
>>>>>>> 85702bbfae9d1e72b5e2d94fa24d8d103ac6eff4

  --tx-1: hsl(0, 0%, 90%);
  --tx-2: hsl(0, 0%, 80%);
  --tx-3: hsl(0, 0%, 70%);

  --gr-1: linear-gradient(0deg, var(--bg-3) 0%, var(--bg-4) 100%);
}

a {
  color: var(--mc-2);
}

a:visited {
  color: var(--mc-3);
}
