:root {
  /* LIGHT-THEME */
  --bg-0: hsl(370, 0%, 92%);
  --bg-1: hsl(370, 0%, 86%);
  --bg-2: hsl(370, 0%, 80%);
  --bg-3: hsl(370, 0%, 76%);
  --bg-4: hsl(370, 0%, 72%);

  --mc-1: hsl(10, 71%, 58%);
  --mc-2: hsl(370, 60%, 36%);
  --mc-3: hsl(370, 60%, 16%);
  --mc-4: hsl(370, 60%, 10%);

  --tx-1: hsl(0, 0%, 10%);
  --tx-2: hsl(0, 0%, 20%);
  --tx-3: hsl(0, 0%, 30%);

  --gr-1: linear-gradient(60deg, var(--bg-0) 0%, var(--mc-4) 100%);
}
