<div>
    <!-- <label for="checker">open modal</label> -->

    <input id="checker" type="checkbox">

    <div class="modal-overlay">

        <section class="modal-wrap">
            <header class="modal-header">

                <slot name="title" class="title">Slot Name: <b>title</b></slot>
                <label class="close" for="checker">
                    <span class="close-content ">&#10006;</span></label>

            </header>

            <section class="main-content">
                <slot name="main">Slot Name: <b>main</b></slot>
            </section>

            <footer class="footer-content ">

                <slot name="footer ">
                    <button onclick="accept" class="accept-btn clickable">Accept</button>
                    <button onclick="cancel" class="decline-btn clickable">Decline</button>
                </slot>

            </footer>
        </section>
    </div>
</div>