    <style>
        
    </style>


    <div>
        <!-- <label for="checker">open modal</label> -->
    
        <input class="absolute" id="checker" type="checkbox">
    
        <div class="modal-overlay flex-row align-center justify-center fixed">
    
            <section class="modal-wrap flex-column align-center">
                <header class="modal-header flex-row align-center space-between">
    
                    <slot name="title" class="title">This is a title</slot>
                    <label class="close darker relative" for="checker"><span class="flex-row justify-center align-center">&#10006;</span></label>
    
                </header>
                <section class="main-content">
    
                    <slot name="main"></slot>
    
                </section>
                <footer class="footer-content flex-row space-between">
    
                    <slot name="footer ">
                        <button onclick="accept" class="dft-btn brighter clickable">Accept</button>
                        <button onclick="cancel" class="dft-btn darker clickable">Decline</button>
                    </slot>
    
                </footer>
            </section>
        </div>
    </div>