* {
  --landing-header-background-color: var(--background-color-1);

  --title-font-color: var(--text-color-emphasis-high);
  --subtitle-font-color: var(--text-color-emphasis-mid);
}

.landing-header,
.landing-header * {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:host {
  width: 100%;
  display: inline-block;
}

.landing-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;

  height: 4rem;

  padding: 0.8rem 4rem;

  background-color: var(--landing-header-background-color);
}

.landing-header__visual {
  display: flex;
  align-items: center;
  gap: 1rem;

  height: 100%;
}

.landing-header__logo {
  width: auto;
  max-height: 90%;
}

::slotted(svg) {
  fill: var(--main-color-4);
}

.landing-header__title-box {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.landing-header__title {
  font-size: 1.45rem;
  line-height: 1.2rem;

  color: var(--title-font-color);
}

.landing-header__subtitle {
  font-size: 0.8rem;

  color: var(--subtitle-font-color);
}

.landing-header__nav {
}

.landing-header__nav-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

::slotted(li) {
  list-style: none;
}
