<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div class="drag-item" draggable="true">
        <h1>Drag Item</h1>
    </div>

    <div class="drop-item">
        <!-- <h1>Drag Item</h1> -->
    </div>


    <script>

        const dragItem = document.querySelector('.drag-item')



        dragItem.addEventListener('dragstart', event => {
            console.log('Draggeo')
        })

        dragItem.addEventListener('drag', event => {
            console.log('Draggeando')
        })

        dragItem.addEventListener('dragend', event => {
            console.log('Desdraggeo')
        })



        const dropItem = document.querySelector('.drop-item')

        dropItem.addEventListener('dragenter', event => {
            console.log('Drag Enter')
        })

        dropItem.addEventListener('dragover', event => {
            event.preventDefault()
            console.log('Drag Over')
        })

        dropItem.addEventListener('dragleave', event => {
            console.log('Drag Leave')
        })

        dropItem.addEventListener('drop', event => {
            console.log('Drop')

            dropItem.appendChild(dragItem)
        })

    </script>

</body>


</html>