<div class="popover__container">
    <!-- <button class="btn"><span class="icon-menu"></span></button> -->
    <div class="popover">

        <div class="popover__options">

            <slot class="popover__slot">

                <button class="popover__btn">btn-1</button>
                <button class="popover__btn">btn-2</button>
                <button class="popover__btn">btn-3</button>
                <button class="popover__btn">btn-4</button>

            </slot>

        </div>

    </div>

</div>