
<div class="popover">

    <!-- <button class="btn"><span class="icon-menu"></span></button> -->

    <div class="popover-menu">
        <slot>
            
                    <button class="popover-btn">
                        <span class="icon icon-music-note-2"></span><span>Jazz</span>
                    </button>
                    <button class="popover-btn">
                        <span class="icon icon-music-note-2"></span><span>Hip-hop</span>
                    </button>
                    <button class="popover-btn"><span class="icon icon-music-note-2">
                        </span><span>Blues</span>
                    </button>
                    <button class="popover-btn">
                        <span class="icon icon-music-note-2"></span><span>Pop</span>
                    </button>

        </slot>

    </div>

</div>