<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PopoverMenu</title>

    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="style.css">
    <!-- Icons -->
    <link href="https://dev.iconly.io/public/gZ9X2NucmsiK/iconly.css" rel="stylesheet" />

</head>

<!-- TODO - Añadir iconos a los botones dentro de popover menu [✅]
          - Conseguir una tipografía mejor [✅]
          - Analizar fondo y mejorar por completo los colores y estética [✅]
-->

<body>

    <nav class="menu-container">

        <div class="menu-logo">

            <!-- Logo & title -->

            <span class="logo icon-music-note"></span>
            <span class="logo-text">ClassyMusic</Span>

        </div>

        <div class="menu-buttons">

            <!-- Buttons -->

            <div class="popover">

                <button class="btn"><span class="icon-menu"></span></button>
                <div class="popover-menu">

                    <button class="popover-btn"><span class="icon icon-music-note-2"></span><span>Jazz</span></button>
                    <button class="popover-btn"><span
                            class="icon icon-music-note-2"></span><span>Hip-hop</span></button>
                    <button class="popover-btn"><span class="icon icon-music-note-2"></span><span>Blues</span></button>
                    <button class="popover-btn"><span class="icon icon-music-note-2"></span><span>Pop</span></button>

                </div>

            </div>






            <div class="popover">

                <button class="btn"><span class="icon-settings"></span></button>
                <div class="popover-menu">

                    <button class="popover-btn"><span class="icon icon-settings"></span><span>Account</span></button>
                    <button class="popover-btn"><span class="icon icon-link"></span><span>E-mail</span></button>

                </div>

            </div>
            <div class="popover">

                <button class="btn"><span class="icon-user"></span></button>
                <div class="popover-menu">

                    <button class="popover-btn"><span class="icon icon-user"></span><span>Name</span></button>
                    <button class="popover-btn"><span class="icon icon-lock"></span><span>Password</span></button>
                    <button class="popover-btn"><span class="icon icon-star"></span><span>Premiun</span></button>

                </div>

            </div>

        </div>

    </nav>

</body>

</html>