
<geo-map>

  <map-point id="user" lat="" lon="" icon=""></map-point>
  <map-point id="taxi" lat="" lon="" icon=""></map-point>
  
  <map-route focus origin-address="" destination-address=""></map-route>
  <map-route origin-address="" destination-address=""></map-route>

  <map-boundary>
    <!-- This is just brainstorming, but defininf an area
    by creating the perimeter points, I have to check 
    how aws location works for this -->
    <map-point></map-point>
    <map-point></map-point>
    <map-point></map-point>
    <map-point></map-point>
  </map-boundary>

</geo-map>





