

.tab-group {
    margin: 0 auto;
    max-width: 40em;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.tab {
    position: relative;
    width: 100%;
}

.tab input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
}

.tab label {
    display: flex;
    align-items: center;
    background-color: var(--back-tone);
    color: var(--text-tone);

    padding: 6px;


    /* background: var(--black-0); */
    /* color: var(--white-1); */
    font-size: 12px;
}

.tab input:focus+label,
.tab label:hover {
    filter: brightness(1.15);
    cursor: pointer;
}

.tab-content {
    max-height: 0;

    overflow: hidden;
    transition: all .35s;
    /* background-color: var(--white-2); */
    background-color: var(--third-tone);
    color: var(--back-tone);

}

.tab input:checked~.tab-content {
    max-height: 300px;
    padding: 8px;
    color: var(--amz-blck-1);
    /* max-height: fit-content; */
}