@import url('./Themes/theme-mono.css');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

/* flex display */

.flex-row {
  display: flex;
}
.flex-row-reverse {
  display: flex;
  flex-flow: row-reverse;
}
.flex-column {
  display: flex;
  flex-flow: column;
}
.flex-column-reverse {
  display: flex;
  flex-flow: column-reverse;
}

/* justify-content */

.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evenly {
  justify-content: space-evenly;
}

/* align-content */

.align-content-center {
  align-content: center;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-between {
  align-content: space-between;
}
.align-content-around {
  align-content: space-around;
}

.align-content-evenly {
  align-content: space-evenly;
}

/* justify-items */

.justify-items-center {
  justify-items: center;
}
.justify-items-end {
  justify-items: flex-end;
}

/* align-items */

.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-baseline {
  align-items: baseline;
}

/* grid */

/* text position */

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-justify {
  text-align: justify;
}

/* List Styles */

.list-style-none {
  list-style: none;
}

/* Presets */

a {
  text-decoration: none;
}

button {
  padding: 8px 24px;
  border: none;

  background-color: silver;

  cursor: pointer;
}

.clickable {
  display: block;
  transition: all 0.2s ease;
}
.clickable:hover {
  filter: brightness(1.25) contrast(90%);
}
.clickable:active {
  filter: brightness(0.95);
  transform: scale(0.95);
}
