/* @import url('./Themes/theme-mono.css'); */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

/* flex display */

.flex-row:root {
  display: flex;
}
.flex-row-reverse:root {
  display: flex;
  flex-flow: row-reverse;
}
.flex-column:root {
  display: flex;
  flex-flow: column;
}
.flex-column-reverse:root {
  display: flex;
  flex-flow: column-reverse;
}

/* justify-content */

.justify-content-center:root {
  justify-content: center;
}
.justify-content-end:root {
  justify-content: flex-end;
}
.justify-content-between:root {
  justify-content: space-between;
}
.justify-content-around:root {
  justify-content: space-around;
}
.justify-content-evenly:root {
  justify-content: space-evenly;
}

/* align-content */

.align-content-center:root {
  align-content: center;
}
.align-content-end:root {
  align-content: flex-end;
}
.align-content-between:root {
  align-content: space-between;
}
.align-content-around:root {
  align-content: space-around;
}

.align-content-evenly:root {
  align-content: space-evenly;
}

/* justify-items */

.justify-items-center:root {
  justify-items: center;
}
.justify-items-end:root {
  justify-items: flex-end;
}

/* align-items */

.align-items-center:root {
  align-items: center;
}
.align-items-end:root {
  align-items: flex-end;
}
.align-items-stretch:root {
  align-items: stretch;
}
.align-items-baseline:root {
  align-items: baseline;
}

/* grid */

/* position */

.absolute:root {
  position: absolute;
}

.relative:root {
  position: relative;
}

.fixed:root {
  position: fixed;
}

/* text position */

.text-center:root {
  text-align: center;
}

.text-end:root {
  text-align: end;
}

.text-justify:root {
  text-align: justify;
}

/* List Styles */

.list-style-none {
  list-style: none;
}

/* Presets */

a:root {
  text-decoration: none;
}

button:root {
  padding: 8px 24px;
  border: none;

  background-color: silver;

  cursor: pointer;
}

.clickable:root {
  display: block;
  transition: all 0.2s ease;
}
.clickable:hover {
  filter: brightness(1.25) contrast(90%);
}
.clickable:active {
  filter: brightness(0.95);
  transform: scale(0.95);
}
