.al-container * {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.al-container {
  display: flex;
  flex-direction: column;

  min-width: 100%;
  height: 100vh;

  color: var(--tx-1);
}

.al-header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 5%;
  padding: 8px;

  color: var(--mc-2);
  background-color: var(--bg-0);
}

.al-split {
  display: flex;

  min-width: 100%;
  height: 92%;
}

.al-split__left {
  display: flex;
  flex-direction: column;

  width: 25%;
  height: 100%;

  resize: horizontal; /* Permite la redimensión en horizontal y vertical */
  overflow: auto; /* Muestra las barras de desplazamiento si el contenido excede las dimensiones */
}

.left__header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 6%;
  padding: 8px;

  background-color: var(--bg-1);
}

.left__menu {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  width: 100%;
  height: 100%;
  padding: 8px;

  border-top: 0.5px solid var(--bg-2);
  background-color: var(--bg-1);
}

.al-split__right {
  display: flex;
  flex-direction: column;

  min-width: 75%;
  height: 100%;
}

.right__header {
  display: flex;
  align-items: center;
  gap: 4px;

  width: 100%;
  height: 6%;
  padding: 8px;

  background-color: var(--bg-1);
}

.right-header__link-box {
  padding: 0px;
  color: var(--tx-2);
  background-color: var(--bg-4);
  font-size: 14px;
  border-radius: 2px;
  padding: 2px 6px;
}

.right__display {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  height: 100%;
  padding: 8px;

  background-color: var(--bg-2);
}

.al-footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 5%;
  padding: 8px;

  color: var(--mc-2);
  background-color: var(--bg-0);
}
