.al-container * {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.al-container {
  display: flex;
  flex-direction: column;

  min-width: 100%;
  height: 100vh;

  color: var(--tx-1);
}

.al-header {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 5%;
  padding: 8px;

  color: var(--tx-3);
  background-color: var(--bg-2);
  border-bottom: 0.5px solid var(--bg-3);
}

#hidder-btn {
  padding: 2px 6px;
  border-radius: 4px;

  color: var(--tx-i);
  border: 1px solid var(--tx-i);
  background-color: rgba(0, 0, 0, 0.161);
}

#hidder-btn:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

#hidder-btn:active {
  transform: scale(0.9);
}

.al-split {
  display: flex;

  min-width: 100%;
  height: 92%;
}

.al-split__left {
  position: relative;
  display: flex;

  width: 25%;
  min-width: 10%;
  max-width: 40%;
  height: 100%;
}

.left__menu {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  user-select: none;

  background-color: var(--bg-1);
  border-right: 0.5px solid var(--bg-3);
}

.left__menu-header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;

  padding: 12px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;

  border-bottom: 0.5px solid var(--bg-3);
  background-color: var(--bg-1);
}

.left__menu-content {
  display: flex;
  flex-direction: column;
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;

  border-right: 2px solid transparent;

  min-width: 10px;
  min-height: 100%;

  transition: border-color 0.2s ease;
}

.resizer:hover {
  border-color: var(--mc-3);
  cursor: col-resize;

  transition: border-color 0.2s ease;
}
.resizer:active {
  border-color: var(--mc-4);
  cursor: col-resize;

  transition: border-color 0.2s ease;
}

.hidden {
  display: none;
}

.al-split__right {
  display: flex;
  flex-direction: column;

  min-width: 75%;
  height: 100%;
  flex: 1 1;
}

.top__menu {
  display: flex;
  align-items: center;
  gap: 4px;

  width: 100%;
  min-height: 6%;
  padding: 8px;

  background-color: var(--bg-1);
  border-bottom: 0.5px solid var(--bg-3);
}

.right-header__link-box {
  padding: 0px;
  color: var(--tx-2);
  background-color: var(--bg-4);
  font-size: 14px;
  border-radius: 2px;
  padding: 2px 6px;
}

.right__display {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  height: 100%;
  max-height: 100%;
  padding: 24px;

  background-color: var(--bg-1);
}

.al-footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 5%;
  padding: 8px;

  color: var(--tx-3);
  border-top: 0.5px solid var(--bg-3);
  background-color: var(--bg-2);
}

/* ctrl + alt + } */

.al-header {
  background-color: var(--mc-2);
  border: none;
}

.left__menu-header {
  color: var(--mc-4);
  background-color: var(--bg-0);
  border-color: var(--bg-2);
}

.left__menu {
  background-color: var(--bg-0);
}

.top__menu {
  background-color: var(--mc-1);
}

.left__menu {
  background-color: var(--bg-0);
  border-color: var(--bg-2);
}

.al-footer {
  color: var(--tx-i);
  background-color: var(--mc-2);
}
