* {
  margin: 0;

  /* Super Container */
  --super-container-background-color: var(--background-color-3);
  --super-container-font-color: var(--text-color-emphasis-mid);
  --super-container-border-color: var(--border-color-2);
  --super-container-border-radius-value: var(--border-radius-value);
}

.super-container {
  /* [] Buscar la manera de alternar inline-flex con flex, a traves de un atributo */
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;

  padding: var(--padding-value);
  border-radius: var(--super-container-border-radius-value);

  color: var(--super-container-font-color);
  background-color: var(--super-container-background-color);
  border: 0.2px solid var(--super-container-border-color);
}
