/* 🐉 app-layout🐉 */

/* Cuando hay una img en el left-title */
a[slot='left-title'] img,
img[slot='left-title'] {
  width: auto;
  height: 48px;
}

/* Enlaces contenidos por un elemento slotado en left-content */
[slot='left-content'] a:hover {
  color: var(--mc-3);
}

/* Los navs funcionaran como separadores */
nav[slot='left-content'] {
  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 12px 20px;

  border-bottom: 0.5px solid var(--bg-2);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Details que sean contenidos por un elemento slotado en left-content */
[slot='left-content'] details {
  display: flex;
  justify-content: center;
}

[slot='left-content'] details summary {
  font-weight: 700;
}

/* Elementos que no sean summary que sean contenidos 
por details que a su vez sean contenidos por un elemento 
slotado en left-content*/
[slot='left-content'] details *:not(summary) {
  padding-left: 18px;
}
/*  */
[slot='left-content'] details *:not(:last-of-type) {
  margin-bottom: 4px;
}
[slot='left-content'] details *:first-of-type:not(summary) {
  margin-top: 4px;
}

[slot='left-content'] a {
  color: var(--tx-3);
  font-weight: 400;
}

/* 🐉 app-router 🐉 */

app-router {
  width: 100%;
  height: 100%;
}

app-route {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 24px;

  width: 100%;
}

/* 🐉 engagement-tracker 🐉 */

.dashboard {
  width: 100%;
  min-width: 520px;
  max-width: 700px;

  border-radius: 8px;
  padding: 24px;
  margin: 0;
  gap: 8px;

  background-color: var(--bg-2);
  border: 0.5px solid var(--bg-4);
}

.dashboard .header {
  gap: 8px;

  width: 100%;
  height: auto;

  padding: 8px 12px;
  border-radius: 8px;

  background-color: var(--bg-0);
  border: 0.5px solid var(--bg-4);
}

.dashboard .header .title {
  font-size: 14px;
  font-weight: 500;
}

.dashboard .header .search {
  width: 40%;
  height: 100%;

  padding: 4px;
  border-radius: 4px;
}

/* 🐉 dashboard-section 🐉 */

.dashboard .section {
  width: 100%;
  height: auto;
}

.dashboard .section.costumer {
  gap: 8px;
}

.costumer .card {
  width: 50%;

  gap: 6px;
  padding: 12px;
  border-radius: 8px;

  font-size: 14px;

  background-color: var(--bg-0);
  border: 0.5px solid var(--bg-4);
}

.costumer-card .item {
  color: var(--tx-3);
}
.costumer-card .item .title {
  font-weight: 900;
  color: var(--mc-1);
}

/* 🐉 toggle-card 🐉*/

.dashboard-section.someclass {
  gap: 8px;
}

.dropdown-card {
  position: relative;
  width: 100%;
}

.dropdown-card .header {
  z-index: 200;

  padding: 8px 12px;
  border-radius: 8px;

  color: var(--tx-i);
  background-color: var(--mc-2);

  cursor: pointer;

  transition: border-radius 0.2s ease 0.1s;
}

/* .rounded se añade al toggle-card__header para acomodarlo visualmente 
cuando la tarjeta esta cerrada */
.dropdown-card .header.closed {
  border-radius: 8px 8px 0 0;
  transition: border-radius 0.2s ease;
}

.dropdown-card .header .title {
  font-size: 16px;
  font-weight: 500;
}

.dropdown-card .icon-menu-down {
  font-size: 24px;
  color: var(--tx-i);

  transform: rotate(-90deg);

  transition: all 0.4s ease;
}

.icon-menu-down.rotate {
  transform: rotate(0deg);
  transition: all 0.4s ease;
}

.item-container {
  position: relative;
  left: 0;
  top: 100%;

  width: 100%;

  border-radius: 0 0 8px 8px;

  background-color: var(--bg-0);
  border: 1px solid var(--bg-4);
  border-width: 0 1px 1px 1px;

  opacity: 1;

  transition: all 0.2s ease;
}

/* toggle-up permite que el contenido del toggle-card se oculte */
.dropdown-toggle {
  display: none !important;

  left: 0;
  top: -25%;
  z-index: 100;

  width: 100%;

  opacity: 0;

  transition: all 0.2s ease;
}

.dropdown-card .item-container .item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;

  padding: 12px;
}

.item-container .item:not(:last-of-type) {
  border: 1px solid var(--bg-4);
  border-width: 0 0 0.5px 0;
}

/* toggle-card__parameters contiene los botones del task-item */
.item .title {
  font-size: 14px;
  font-weight: 600;
}

.item .state-container {
  gap: 8px;
}

.state-btn-box {
  gap: 4px;
}

.state-btn {
  display: inline;
  width: 25px;
  height: 25px;

  font-size: 14px;
  border-radius: 4px;
  padding: 0;

  border: 1px solid var(--bg-4);
  background-color: var(--bg-1);
  color: var(--bg-3);
}

.state-btn:hover {
  filter: brightness(0.8) contrast(120%);
  cursor: pointer;
}

.state-btn:active {
  transform: scale(0.95);
}

.state-btn .icon {
  width: 100%;
  object-fit: cover;
}

.yes {
  background-color: var(--mc-3);
  border: 1px solid var(--mc-2);
  color: var(--mc-2);
}

.no {
  background-color: hsl(5, 80%, 60%);
  border: 1px solid hsl(5, 50%, 35%);
  color: hsl(5, 50%, 35%);
}

.ip {
  background-color: var(--mc-4);
  border: 1px solid hsl(35, 50%, 35%);
  color: hsl(35, 50%, 35%);
}

/* Clase por defecto para los botones, si esta existe 
en el elemento este se verá desactivado */
.disabled {
  border: 1px solid var(--bg-4);
  background-color: var(--bg-0);
  color: var(--bg-3);

  transition: all 0.4s ease;
}

.state-input {
  padding: 4px;

  border-radius: 4px;
  background-color: var(--bg-1);
  border: 1px solid var(--bg-4);
}

/* 🐉 area-dashboard 🐉 */

.area-dashboard .header {
}

/* 🐉 toggle-card 🐉*/

.area-dashboard__toggle-card {
}

.area-dashboard .dropdown-card .item-container {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;

  padding: 12px;
  border-radius: 0 0 8px 8px;

  background-color: var(--bg-1);
  border: 1px solid var(--bg-4);
  border-width: 0 1px 1px 1px;
}

.area-dashboard .dropdown-card .item {
  padding: 8px;
  border-radius: 4px;

  color: var(--tx-2);
  background-color: var(--bg-0);
  border: 1px solid var(--bg-4);
}

.area-dashboard .item .state-container {
  gap: 8px;
}

.area-dashboard .dropdown-card .item .title {
}

.area-dashboard .dropdown-card .item .state-input {
  width: 10%;
}

.area-dashboard .dropdown-card .item .state-btn {
}

[type='text'],
[type='number'],
[type='search'] {
  background-color: var(--bg-1);
  border: 0.5px solid var(--bg-4);
}

input[type='text']:focus,
[type='number']:focus,
[type='search']:focus {
  border-color: var(--mc-3);
  outline: none;
  transition: all 0.2s ease;
}

@import url('./src/global/style-tools.css');
