:root{
    /* Tonos grises */
    --black-1: #252525;
    --black-2: #323437;
    --black-3: #474b4e;

    /* Tonos claros */
    --white-1: #e2e7ed;
    --white-2: #c4c7cc;
    --white-3: #95989d;
    --white-3-transparent: #95989d97;

    /* Tonos de color */
    --main-1: #52c9e0;
    /* hsl(190, 70%, 60%) */
    --main-2: #82d3e3;
    /* hsl(190, 65%, 70%) */
    --main-3: #addfeb;
    /* hsl(190, 60%, 80%) */
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: monospace, sans-serif;
}

html, body{
    width: auto;
    height: 100%;

    background-color: var(--black-1);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.slider-container{
    display: flex;
    flex-direction: column;
    position: relative;

    width: 400px;
    min-height: 280px;
    
    margin: 0;
    border-radius: 6px;

    overflow: hidden;
    /* background-color: #323437; */
}
.slide-item{
    position: absolute;
    width: 100%;    
    height: 100%;

    /* transform: translateX(-100%); */

    opacity: 0;

    clip-path: circle(0% at 0 50%);

    transition: clip-path 2s ease;
}
.slide-item.active{
    /* transform: translateX(0%); */
    opacity: 1;
    clip-path: circle(150% at 0 50%);
}

/* .slider-count{
    position: absolute;
    top: 0;
    right: 0;

    z-index: 999;
} */

img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-info{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 12px;

    width: 100%;
    padding: 4% ;

    background-color: #c4c7cca9;
}
.slide-info .text{
    width: 80%;
}
.slide-info .slider-count{
    width: 10%;

}

.nav-btns-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto 4%;

    opacity: 1;
}

.slider-container:hover .nav-btns-container{
    opacity: 1;
}

.nav-btns-container .prev-btn, .nav-btns-container .next-btn{
    z-index: 999;
    
    background-color: var(--white-1);
    padding: 4% 2%;
    border-radius: 4px;
    
    cursor: pointer;

}

.nav-dot-container{
    position: absolute;
    z-index: 999;
    left: 50%;
    bottom: 4%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;

    width: 100%;
}
.nav-dot-container .nav-dot{
    z-index: 999;

    width: 18px;
    height: 6px;

    margin: 0 6px;
    border-radius: 10%;

    cursor: pointer;

    background-color: var(--white-3);

    transition: all 0.4s ease;
}
.nav-dot.active{
    background-color: var(--main-1);
    transform: scale(1.1);
}

/* 
@media (max-width: 900px) {
    .slider-container{
        display: flex;
        flex-direction: column;
        position: relative;
    
        width: 600px;
        min-height: 300px;
        
        margin: 0;
        border-radius: 6px;
    
        overflow: hidden;
        background-color: #323437;
    }
} 

/* Click */
.clickable {
    transition: all 0.2 ease;
    user-select: none;
}

.clickable:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.clickable:active {
    transform: scale(0.95);
}