:root {
  /* Color de brand */
  --color-main-1: #632c60;
  --color-main-2: #d267cc;
  --color-main-3: #d8afe4;
  /* Color principal */
  --color-secondary: #a3a7b5;
  /* Color secundario */
  --color-tertiary: #6f8092;
  /* Color terciario */

  /* Color de texto */
  --color-text-n: #272727;
  --color-text-n-lo: #353535;
  --color-text-i: ghostwhite;

  /* Color de fondo */
  --color-background-1: ghostwhite;
  --color-background-2: #dedee6;
  --color-background-3: #cbcbd3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;

  background-color: var(--color-background-1);
}

.hidden {
  display: none;
}

app-router {
  width: 100%;
}

/*  */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 80%;
  height: 40px;

  /* outline: 1px dotted gray; */
}

/* left */

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 95px;
  height: 100%;

  /* outline: inherit; */
}

.nav__logo-img {
  width: auto;
  height: 100%;

  object-fit: cover;
}

/* right */

.nav__link-container {
  display: flex;
  align-items: center;

  width: auto;
  height: 100%;

  list-style: none;

  outline: inherit;
}

.nav__link-box {
  width: auto;
  height: 100%;
}

.nav__link {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 12px 16px;

  border-radius: 2px;
  font-weight: 300;
  color: inherit;
  text-decoration: none;
}

.nav__link--cta {
  background-color: var(--color-main-3);
  /* color: var(--color-text-n); */
  color: var(--color-main-1);
  /* border: 2px solid var(--color-main-2); */
}

/*  */

.hero__left-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.hero__title {
  font-size: 52px;
  font-weight: 900;
  /* line-height: 36px; */
  color: var(--color-text-n);
  /* margin: 0 0 8px; */
}

.hero__description {
  /* font-weight: 200; */
  color: var(--color-text-n-lo);
}

.hero__button {
  padding: 12px 24px;
  margin-top: 12px;

  border-radius: 2px;

  font-family: inherit;
  font-weight: 600;

  background-color: var(--color-main-2);
  color: var(--color-background-1);
}

/*  */

.hero__right-content {
  display: flex;
  justify-content: center;
}

.hero__img {
  width: 90%;
  height: 100%;
  object-fit: cover;

  mix-blend-mode: darken;
}
