<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Component</title>

    <link rel="stylesheet" href="layout-base-style.css">

    <script src="../web-tools.js"></script>
    <script src="./components/layout.component copy.js"></script>
    <script src="../accordion-tab/components/accordion.component.js"></script>


</head>

<style>


</style>

<body>

    <app-layout>

        <nav class="top-menu" slot="top-menu">

            <a href="" class="link-tag">LINK#1</a>
            <a href="" class="link-tag">LINK#2</a>
            <a href="" class="link-tag">LINK#3</a>
            <a href="" class="link-tag">LINK#4</a>
            <a href="" class="link-tag">LINK#5</a>
            <a href="" class="link-tag">LINK#6</a>
            <a href="" class="link-tag">LINK#7</a>
            <a href="" class="link-tag">LINK#8</a>
            <a href="" class="link-tag">LINK#9</a>
            <a href="" class="link-tag">LINK#10</a>

        </nav>
        <h3 slot="left-header">Files</h3>

        <accordion-tab slot="left-content">

            <p slot="title">One</p>

        </accordion-tap>

        <div class="left-menu-tab" slot="left-menu">
            <h4>Title</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, aspernatur!</p>
            <button class="dft-btn brighter"> AUUS</button>
        </div>
        <div class="left-menu-tab" slot="left-menu">
            <h4>Title</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, aspernatur!</p>
            <button class="dft-btn brighter"> AUUS</button>
        </div>


        <!-- <div class="main-content pattern-1" slot="main-content">

            <div class="test-container">
                <h2>This is the future.</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab distinctio perferendis dolore.</p>
                <ul>
                    <li><p>Elit. Quis fuga beatae expedita.</p></li>
                    <li><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></li>
                </ul>
                <button class="dft-btn brighter clickable">Create an AUUS Account</button>
            </div>
          

        </div> -->

        <footer slot="footer">
            <span>some links and stuff here</span>
        </footer>



    </app-layout>






    <!-- <app-layout>

        <nav slot="top-menu">
            <a href="#item1">menu item 1</a>
            <a href="#item2">menu item 2</a>
            <a href="#item3">menu item 3</a>
            <a href="#item4">menu item 4</a>
        </nav>

        <div slot="left-menu">
            <section class="accordion-tab">
                <h1>title 1</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate accusantium officiis, modi
                    veritatis</p>
                <button id="open-modal">open</button>
            </section>

            <section class="accordion-tab">
                <h4>some links</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate accusantium officiis, modi
                    veritatis</p>
            </section>

            <section class="accordion-tab">
                <h6>title 3</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate accusantium officiis, modi
                    veritatis</p>
            </section>

        </div>

        <div slot="main-content">
            <h1>this is the main content panel</h1>
        </div>

        <footer slot="footer">
            <span>some links and stuff here</span>
        </footer>



    </app-layout> -->
</body>

</html>