@font-face {
    font-family: 'amazon-ember';
    src: url('../global-assets/amazon-ember/Amazon-ember.ttf');
}
:root {
    /* Amazon pallete */
    --amz-blck-1:#16191F;
    --amz-blck-2:#232F3E;
    --amz-gray-1 :#545B64;
    --amz-gray-2 :#687078;

    --amz-blue-1 :#306DA3;
    --amz-blue-2 :#0073BB;
    --amz-turq-1 :#44B9C6;

    --amz-orang-1:#EC7211;

    /* Tonos grises */
    --black-1: #252525;
    --black-2: #323437;
    --black-3: #474b4e;

    /* Tonos claros */
    --white-1: #e2e7ed;
    --white-2: #c4c7cc;
    --white-3: #95989d;

    /* Tonos de color */
    --main-1: #52c9e0;
    /* hsl(190, 70%, 60%) */
    --main-2: #82d3e3;
    /* hsl(190, 65%, 70%) */
    --main-3: #addfeb;
    /* hsl(190, 60%, 80%) */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 12px;
}

.left-menu-tab {
    padding: 12px;
    border-radius: 4px;

    color:var(--amz-blck-1);
    background-color: var(--white-1);
}
.left-menu-tab:not(:last-of-type){
    margin-bottom: 12px;
}
.left-menu-tab h4{
    margin-bottom: 12px;
}
.left-menu-tab button{
    margin-top: 12px;
}


/* Buttons */

.dft-btn {
    width: 100%;
    padding: 8px 12px;

    /* Fuente */
    text-transform: capitalize;
    font-family: 'amazon-ember';
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--amz-blck-1);

    /* Bordes */
    border: none;
    border-radius: 4px;

    /* Fondo */
    background-color: #e2e2e9;

    /* Otros */
    cursor: pointer;
}
.darker {
    color: var(--main-2);
    background-color: var(--black-2);
}

.brighter {
    color: var(--white-1);
    background-color: var(--amz-orang-1);   
}


/* Backgrounds */

.pattern-1{
    background-color: var(--white-3);
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}


/* Click */
.clickable {
    transition: all 0.2 ease;
    user-select: none;
}

.clickable:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.clickable:active {
    transform: scale(0.95);
}


nav {
    display: flex;
    align-items: center;
}

.link-tag {
    /* Tamaño */
    padding: 4px 12px;

    /* Fondo */
    background-color: var(--white-2);

    /* Fuente */
    font-size: 12px;
    text-transform: capitalize;

    /* Bordes */
    border-radius: 2px;
    text-decoration: none;

    color: var(--black-1);
    margin: 0 4px;
}

/* TEST */

.test-container{
    display: flex;
    flex-direction: column;

    max-width: 400px;
   

    padding: 12px;
    border-radius: 4px;

    background-color: var(--white-1);
    color: var(--amz-blck-1);
}
.test-container h2{
    font-size: 24px;
    font-family: 'amazon-ember';
    margin-bottom: 24px;
}
.test-container button{
    margin-top: auto;
    border-radius: 4px;
}
.test-container ul{
    margin:24px 0;
    padding: 0 0 0 24px;
}
.test-container ul li{
    margin-bottom: 8px;
    color: var(--amz-blck-1);
}
li p{
    color: var(--amz-blue-2);
}