:root {
    /* Tonos grises */
    --black-1: #252525;
    --black-2: #323437;
    --black-3: #474b4e;

    /* Tonos claros */
    --white-1: #e2e7ed;
    --white-2: #c4c7cc;
    --white-3: #95989d;

    /* Tonos de color */
    --main-1: #52c9e0;
    /* hsl(190, 70%, 60%) */
    --main-2: #82d3e3;
    /* hsl(190, 65%, 70%) */
    --main-3: #addfeb;
    /* hsl(190, 60%, 80%) */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

.top-container {
    display: flex;
    align-items: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 12px;
}


.left-menu-tab {
    /* Size */
    padding: 4px;

    /* Position */
    margin-bottom: 12px;

    /* Border */
    border-radius: 4px;

    /* Back */
    background-color: var(--white-1);
}


/* Buttons */
.dft-btn {
    /* Tamaño */
    width: 100%;
    padding: 6px 12px;

    /* Fuente */
    text-transform: uppercase;
    font-family: monospace;
    color: #232323;

    /* Bordes */
    border-radius: 4px;
    border: 1px solid #232323;

    /* Fondo */
    background-color: #e2e2e9;

    /* Otros */
    cursor: pointer;
}
.darker {
    /* Fuente */
    color: var(--main-2);
 
    /* Bordes */
    border-color: var(--black-1);
 
    /* Fondo */
    background-color: var(--black-2);
}
.brighter {
    /* Fuente */
    color: var(--black-1);
 
    /* Bordes */
    border-color: var(--black-3);
 
    /* Fondo */
    background-color: var(--main-1);
}

/* Backgrounds */
.pattern-1{
    background-color: var(--main-2);
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

/* Click */
.clickable {
    transition: all 0.2 ease;
    user-select: none;
}

.clickable:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.clickable:active {
    transform: scale(0.95);
}

nav {
    display: flex;
    align-items: center;
}

.link-tag {
    /* Tamaño */
    padding: 4px 12px;

    /* Fondo */
    background-color: var(--main-3);

    /* Fuente */
    font-size: 12px;
    text-transform: capitalize;
    border-radius: 4px;
    text-decoration: none;

    color: var(--black-1);
    margin: 0 4px;
}
