
<section>

    <header>
        <div>
            <div class="">
                <label for="">key</label>
                <!-- <input type="text" placeholder="key" name="" id="new-filter-key"> -->
                <select id="new-filter-key"></select>
            </div>
            
            <div class="">
                <label for="">value</label>
                <input type="text" placeholder="key" name="" id="new-filter-value">
            </div>
            <button onclick="addFilterItem">add</button>
        </div>
        <div>
            <b>Filters:</b>
            <ol id="filter-list">
                <!-- <li><b>key: </b>value <button onclick="removeFilterItem" >x</button></li> -->
            </ol>
        </div>
    </header>
    <table>
        
    </table>


</section>



