.card-container {
  min-width: 100px;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.card-title {
  width: 100%;
  padding: 8px;

  /* border-bottom: 1px solid var(--main-tone); */
  color: var(--main-tone);
  background-color: var(--back-tone);
}

.card-content {
  padding: 8px;
  background-color: var(--text-tone);
  color: var(--back-tone);
  text-align: justify;
}
